@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap");
$primaryColor : #161616;
$secondaryColor : #C4C4C4;

$primaryFamily : "Oswald", sans-serif;
$secondaryFamily : "Montserrat", sans-serif;